[submodule "triton"]
	path = triton
	url = https://github.com/JonathanSalwan/Triton
	shallow = true
	ignore = dirty
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/libvmi/libvmi
	shallow = true
	ignore = dirty
[submodule "xen"]
	path = xen
	url = https://github.com/xen-project/xen
	shallow = true
	ignore = dirty
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
	shallow = true
	ignore = dirty
[submodule "dwarf2json"]
	path = dwarf2json
	url = https://github.com/tklengyel/dwarf2json
	shallow = true
	ignore = dirty
[submodule "libipt"]
	path = libipt
	url = https://github.com/intel/libipt
	shallow = true
	ignore = dirty
